@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: rgb(255, 255, 255);
}

.center-container {
  position: relative;
}

.titulo {
  text-align: center;
  font-family: 'Lemon Milk', sans-serif;
  font-size: 22px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imagen{
  margin-left: 5px;
  margin-right: 10px;
}

.nav-link{
  margin-right: 20px;
}

.numero-cart{
  font-size: 14px;
}

.center-text{
  text-align: center;
  font-family: 'Lemon Milk', sans-serif;
}

.zoomable-image {
  transition: transform 0.2s ease-in-out;
}

.zoomable-image:hover {
  transform: scale(1.1); /* Cambiar el valor para ajustar el zoom */
}

#root{
  display: flex;
  flex-direction: column;
}